<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.4" targetFramework="net452" requireReinstallation="true" />
  <package id="DocumentFormat.OpenXml" version="2.12.3" targetFramework="net452" requireReinstallation="true" />
  <package id="EPPlus" version="5.6.2" targetFramework="net452" />
  <package id="EpplusExcel" version="1.0.0" targetFramework="net452" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net452" />
  <package id="IronXL.Excel" version="2020.12.2" targetFramework="net452" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net452" requireReinstallation="true" />
</packages>